<h1>Modelo Sefaz de aplicação Asp Net Core com Angular</h1>
<p>Modelo de aplicação Angular com uso dos padrões estabelecidos no Manual de Identidade do Governo do Estado de São Paulo.</p>
Esse template inclui:
<ul>
  <li>Folha de estilos Sefaz.css</li>
  <li>Imagens</li>
  <li>Menus:</li>
  <ul>
    <li>Vertical - para acesso a recursos da aplicação</li>
    <li>Popup - para informações e configuração da aplicação</li>
  </ul>
  <li>Cabeçalho e rodapé nos padrões da Sefaz</li>
  <li>Breadcrumb - barra hierárquica de links da página aberta</li>
</ul>
