<h1>Fale conosco</h1>
<h2>Documentação</h2>
    Consulte sempre a <a href="https://ads.intra.fazenda.sp.gov.br/tfs/ADMIN/Wiki_Arquitetura" target="_blank">Wiki de Arquitetura e Padrões do DTI</a> para obter informações sobre o ambiente tecnológico da Sefaz.

<h2>Suporte</h2>
    Para solicitar orientações e suporte:
<ul>
  <li>
    ​​Abra um chamado no <a href="https://ads.intra.fazenda.sp.gov.br/tfs/ADMIN/Suporte_DevOps" target="_blank">Suporte_Devops</a>
  </li>
  <li>
    Envie um email a dti_cia_nsd@fazenda.sp.gov.br
  </li>
</ul>
