<h1>Política de privacidade</h1>

<div class="article article-body">
  <div class="article-content">
    <h3>​​​Introd​uç​ão</h3>
    <div>
      <p>
        A Secretaria da Fazenda do Estado de São Paulo - SEFAZ reconhece a importância de zelar pela privacidade das informações dos usuários e visitantes que acessam o Portal da Secretaria da Fazenda, designado Portal SEFAZ.
        Este documento, denominado Política de Privacidade, tem por objetivo estabelecer as regras sobre a obtenção, uso e armazenamento dos dados e informações coletadas dos usuários e visitantes, além dos registros de suas atividades no Portal SEFAZ.
      </p>
      <p> <br> </p>
      <h3>De​finiç​ões</h3>
      <div>
        <p>Para fins desta Política de Privacidade aplicam-se as seguintes definições:<br> </p>
        <ul>
          <li> <p>Cookies: arquivos enviados pelo Portal SEFAZ para o computador dos visitantes e usuários, com a finalidade de identificar o computador e obter dados de acesso, permitindo personalizar a navegação no Portal;<br> </p> </li>
          <li> <p>Portal SEFAZ: abrange os sítios da Secretaria da Fazenda;<br> </p> </li>
          <li> <p>Usuário: qualquer pessoa que acessa determinada área restrita do Portal SEFAZ mediante cadastro;<br> </p> </li>
          <li> <p>Visitante: qualquer pessoa que navega pelo Portal SEFAZ.<br> </p> </li>
        </ul>
      </div>
      <p> <br> </p>
      <h3>Informaç​ões que coletamos</h3>
      <p>Dependendo dos serviços utilizados, o Portal SEFAZ pode coletar informações dos usuários e visitantes, bem como de seus dispositivos usados no acesso, conforme descrição abaixo:<br> </p>
      <ol>
        <li> <strong>Informações fornecidas pelo usuário:</strong> informações solicitadas diretamente por meio de formulários de cadastro ou de coleta de dados necessários para identificação e registro.<br> </li>
        <li> <strong>Informações coletadas e armazenadas automaticamente:</strong> <br> </li>
      </ol>
      <ul>
        <ul>
          <li>​​​<strong>Informações de registro:</strong> quando o usuário ou visitante acessa o Portal SEFAZ, poderão ser coletadas e armazenadas as seguintes informações:<br> </li>
          <ul>
            <li>Endereço IP;</li>
            <li>Data e hora do acesso;</li>
            <li>Informações sobre o sistema operacional e navegadores utilizados pelos usuários;</li>
            <li>Provedor de Serviços de Internet (ISP);</li>
            <li>Ações executadas nos sistemas e serviços da SEFAZ e outros registros de utilização.</li>
          </ul>
          <li> <strong>​​Cookies:</strong>&nbsp;os serviços disponíveis no Portal SEFAZ poderão fazer uso de cookies para armazenamento temporário de informações em sessões e formulários. Um dos principais objetivos da utilização de cookies é obter informações de como os usuários e visitantes navegam pelo Portal SEFAZ, as quais permitem melhorar a experiência em acessos futuros.&nbsp;O usuário pode bloquear os recebimentos dos cookies através de seu navegador, entretanto poderá sofrer limitações nas funcionalidades dos sistemas.</li>
        </ul>
      </ul> <p> </p> <p> <br> </p>
      <h3>Uso das infor​mações</h3>
      <p>As informações coletadas e processadas no Portal SEFAZ atendem a diversas finalidades ligadas diretamente às atividades institucionais da Secretaria da Fazenda.<br>A SEFAZ não faz uso comercial das informações armazenadas em seus sistemas.<br> </p>
      <p> <br> </p>
      <h3>Proteção das informações</h3>
      <p>A SEFAZ atende à&nbsp;<a href="/Paginas/resolucao-sf-20-2012.aspx">Resolução SF Nº 20, de 14-03-2012​</a>, que dispõe sobre o acesso a informações protegidas por sigilo fiscal constantes de sistemas informatizados. As informações de caráter pessoal e aquelas sujeitas a outras hipóteses de obrigatoriedade de sigilo também dispõem de mecanismos de proteção que garantem a confidencialidade e integridade, sendo acessadas por servidores devidamente cadastrados e com permissão de utilização para desempenho de suas atribuições.<br> </p>
      <p> <br> </p>
      <h3>Segurança das​​ informações</h3>
      <p>Com o objetivo de manter um nível de proteção adequado das informações, a SEFAZ investe continuamente na modernização de seu ambiente tecnológico para que seus equipamentos e sistemas estejam sempre atualizados e seguros. São implementadas tecnologias, incluindo o uso de certificação digital, políticas e diversos outros mecanismos de proteção contra acesso, alteração, divulgação ou destruição não autorizados das informações das quais a SEFAZ é detentora.<br> </p>
      <p> <br> </p>
      <h3>Quando a P​olítica de Privacidade se aplica</h3>
      <p>Esta Política de Privacidade aplica-se ao Portal SEFAZ. Alguns serviços podem ter Políticas de Privacidade e Termos de Uso complementares, incluindo outras formas de coleta e tratamento de dados, instalação de cookies com finalidades diversas e, ainda, solicitar novas informações dos usuários. Cabe ao usuário do respectivo serviço tomar ciência dessas condições.<br> </p>
      <p> <br> </p> <h3>Disposições Ge​rais</h3>
      <div>
        <p>
          As disposições desta Política de Privacidade poderão ser atualizadas ou modificadas a qualquer momento, cabendo aos usuários e visitantes verificarem-na sempre que efetuar o acesso ao Portal SEFAZ.<br>Os usuários e visitantes poderão entrar em contato em caso de quaisquer dúvidas com relação às disposições constantes desta Política de Privacidade por meio da Ouvidoria Fazendária.<br>
        </p> <br>
      </div>
    </div>
  </div>
</div>
