<footer>
  <div id="govsp-rodape">
    <div id="govsp-footerGlobal" role="navigation">
      <ul class="govsph-links">
        <li class="govsp-link-rodape"><a class="govsp-links-footer" href="https://www.ouvidoria.sp.gov.br/Portal/Default.aspx" target="_blank">Ouvidoria</a></li>
        <li class="govsp-link-rodape"><a class="govsp-links-footer" href="http://www.transparencia.sp.gov.br/" target="_blank">Transparência</a></li>
        <li class="govsp-link-rodape"><a class="govsp-links-footer no-border" href="http://www.sic.sp.gov.br/" target="_blank">SIC</a></li>
        <li class="govsp-link-rodape-lg" tabindex="0"><img class="govsph-logo-rodape" src="./assets/img/logo-rodape.png" alt="Logotipo Governo do Estado de São Paulo" /></li>
        <li class="govsp-link-rodape-lg" tabindex="0"><img class="govsph-logo-rodape logo-negativo" src="./assets/img/logo-rodape-negativo.png" alt="Logotipo Governo do Estado de São Paulo" /></li>
      </ul>
    </div>
    <div id="govsp-footer-bottom" class="govsp-azul"></div>
  </div>
</footer>
