/* -----------------------------------------------------------------------------
 RESET BASE 
 -------------------------------------------------------------------------------*/
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI",Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol" !important;
  font-size: 13px;
}

h1 {
  font-size: 25px;
  font-weight: 400;
  color: #000;
  margin: 30px 0px 9px 0px;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  margin: 30px 0px 9px 0px;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  color: #888;
  margin: 30px 0px 9px 0px;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  color: #034ea2;
  margin: 30px 0px 9px 0px;
}

h5 {
  font-size: 14px;
  font-weight: 600;
  color: #034ea2;
  margin: 30px 0px 9px 0px;
}

h6 {
  font-size: 10px;
  font-weight: normal;
  color: #034ea2;
  margin: 30px 0px 9px 0px;
}

p {
  font-size: 13px;
  margin: 0 0 15px 0;
  color: #5e5e5e;
}

small {
  font-size: 12px;
}

header {
  margin-bottom: 0;
  border-radius: 0;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.border-box {
  background-color: #ffffff;
  padding: 30px;
  margin: 16px 0px 30px 0px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-control {
  border: 0.5px solid #ced4da;
}
/* -----------------------------------------------------------------------------
 CSS AUXILIAR
 --------------------------------------------------------------------------------*/
.no-gutter {
  padding: 0;
}

.pull-right {
  float: right;
}

.block {
  display: block;
}

.push-left {
  float: left;
}

.push-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left !important;
}

.no-gutter {
  padding: 0;
}

.no-margin {
  margin: 0 !important;
}

.ex-colunas {
  background: #e7f7ff;
  border: 1px solid #006699;
  padding: 7px;
  font-size: 13px;
}

.temple img {
  height: 100%;
  width: 100%;
}

.conteudo nav {
  display: block;
}
/* -----------------------------------------------------------------------------
 MENU PRINCIPAL
 --------------------------------------------------------------------------------*/
.navbar {
  min-height: 40px;
  margin-bottom: 0;
  color: #000 !important;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

.nav-link-m {
  color: #888;
  padding: 0px;
}

.navbar-toggle {
  color: #FFF;
  margin: 0;
  position: absolute;
}

.navbar-sfz .navbar-toggler-icon {
  color: #fff !important;
  background-image: url('../img/bars.png');
  height: 20px;
  width: 27px;
}

.navbar-sfz .navbar-toggler {
  border: none !important;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
  font-size: 10px;
  padding: 8px;
}

  nav li a:hover:not(.active) {
    color: #000;
    text-decoration: none;
  }

  nav li a:hover.active {
    text-decoration: none;
  }

  nav li a {
    text-decoration: none;
    color: #000;
  }

.active a {
  color: #000 !important;
}

.navbar-expand-lg .navbar-nav .nav-link-menu {
  padding-right: 3rem;
  padding-left: .5rem;
}

@media (max-width: 991px) {
  .nav-link-menu {
    padding: 8px 1px;
  }

  .navbar {
    font-size: 14px;
  }

  .active {
    border-bottom: none;
  }

  .title {
    margin-left: 20px;
    font-size: 18px;
  }
}
/* -----------------------------------------------------------------------------
MENU VERTICAL
--------------------------------------------------------------------------------*/
ul#menu {
  padding: 0;
  list-style-type: none;
}

  ul#menu li a:link {
    text-decoration: none;
    font-size: 12px;
    color: #5e0f50;
    padding: 13px 0px 13px 22px;
  }

  ul#menu li a:hover, ul#menu .active {
    background-color: #efeeee;
    color: #495057 !important;
    font-weight: bold;
    display: block;
  }

  ul#menu li a:link, ul#menu li a:visited {
    padding-right: 5px;
  }

  ul#menu li a:hover {
    /*border-right:3px solid #006699;*/
    color: #006699;
  }

  ul#menu li a:link, ul#menu li a:visited {
    display: block;
    height: 1%;
    color: #000;
    border-bottom: 1px solid #dddede
  }

/*MenuRecolhe*/
.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

i,
span {
  display: inline-block;
}

/*--------------------------------------------
 Popup menu
 ---------------------------------------------*/
#botao_popup {
  color: white;
  font-size: large;
  margin-top: 3px;
}

.menu_popup {
  float: right;
  margin: 0px 0px 0px 0px;
  text-align: right;
  font: normal;
}

  .menu_popup ul li {
    list-style-type: none;
    text-align: left;
  }

  .menu_popup i {
    min-width: 20px;
    text-align: right;
  }

  .menu_popup .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0em;
    vertical-align: 0em;
    content: "";
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0;
    border-left: 0px;
  }

  .menu_popup .dropdown-menu.show {
    padding-left: 10px;
    margin-left: -100px;
    margin-top: -3px;
  }

  .menu_popup a {
    color: #000000;
  }

  .menu_popup ul ul a {
    padding-left: 0px;
    background: none;
    border: none;
  }

  .menu_popup .quebra_linha {
    margin-top: 10px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
  }

@media (min-width: 768px) {
  .user-name {
    float: left;
    text-align: right;
  }

  .menu_popup {
    display: block;
  }

    .menu_popup ul {
      margin-right: 10px;
    }
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.conteudo {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: azure;
  transition: all 0.3s;
  border-right: 1px solid #c5c5c5;
}

  #sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
  }

    #sidebar.active ul li a {
      text-align: center;
      font-size: 0.85em;
      padding: 15px 0px 15px 0px !important;
      font-size: 10px !important;
      /*color: #ffffff !important;*/
    }

      #sidebar.active ul li a i {
        margin-right: 0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
      }

    #sidebar.active ul ul a {
      padding: 10px !important;
    }

  #sidebar .sidebar-header {
    padding: 20px;
    background: #063d7b;
  }

  #sidebar ul li a i {
    margin-right: 10px;
  }

a[data-toggle="collapse"] {
  position: relative;
}

ul#homeSubmenu {
}

  ul#homeSubmenu .active {
    color: #fff !important;
  }

#sidebar ul li a i {
  margin-right: 10px;
}

.conteudo #sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #efeeee;
}

a[data-toggle="collapse"] {
  position: relative;
}

.conteudo .dropdown-toggle::after {
  content: "";
  border-top: .35em solid;
  border-right: .35em solid transparent;
  border-bottom: 0;
  border-left: .35em solid transparent;
  margin-left: 5px;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #efeeee;
  border: 1px solid #efeeee
}
/* ---------------------------------------------------
    CONTENT STYLE
    ----------------------------------------------------- */
#content {
  width: 100%;
  padding: 0px 20px 20px 30px;
  min-height: 150vh;
  transition: all 0.3s;
}
/* ---------------------------------------------------
    MEDIAQUERIES
    ----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }

    #sidebar.active {
      margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
      display: none;
    }

    #sidebar .sidebar-header strong {
      display: block;
    }

    #sidebar ul li a {
      padding: 0px !important;
      display: block;
    }

      #sidebar ul li a span {
        font-size: 0.85em;
      }

      #sidebar ul li a i {
        margin-right: 0;
        display: block;
      }

    #sidebar ul ul a {
      padding: 10px !important;
    }

    #sidebar ul li a i {
      font-size: 1.3em;
    }

  #sidebar {
    margin-left: 0;
  }

  #sidebarCollapse span {
    display: none;
  }

  #content {
    padding: 20px;
  }
}
/* -----------------------------------------------------------------------------
TEXTOS
--------------------------------------------------------------------------------*/
.titulo-box {
  font-size: 15px;
  color: #7695ad;
  margin-top: 0px;
}

.tx-ove {
  text-decoration: overline;
}

.tx-low {
  text-transform: lowercase;
}

.tx-und {
  text-decoration: underline;
}

.subtitulo-box {
  margin-top: 5px;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}

  blockquote footer {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777;
  }

.tx-cod {
  color: #ff0000;
  background-color: #fbf2f5;
  padding: 8px;
  font-size: 100%;
  border-radius: 5px;
  text-align: center;
}

.tx-capt {
  text-transform: capitalize;
}

.tx-destaque {
  font-size: 15px;
}

.tx-senha {
  text-align: right;
  text-decoration: underline;
  font-size: 11px;
}

.tx-menu {
  font-weight: bold;
}
/* -----------------------------------------------------------------------------
 CORES PRINCIPAIS
 --------------------------------------------------------------------------------*/
.cores {
  width: 100%;
  height: 40px;
  display: inline-block;
}

.fontRed {
  color: #ff0033;
}

.corAzul1 {
  background: #034ea2;
  border-radius: 4px;
}

.corAzul2 {
  background: #2d4f7a;
  border-radius: 4px;
}

.corAzul3 {
  background: #14a1b8;
  border-radius: 4px;
}

.corPreto1 {
  background: #231f20;
  border-radius: 4px;
}

.corVermelho1 {
  background: #ed1d24;
  border-radius: 4px;
}

.corAmarelo1 {
  background: #f39c12;
  border-radius: 4px;
}

.corVerde1 {
  background: #009432;
  border-radius: 4px;
}
/* -----------------------------------------------------------------------------
 TOPO
 --------------------------------------------------------------------------------*/
.topo {
  height: 50px;
  background-color: #034ea2;
  color: #ffffff;
  font-size: 14px;
  background-image: url(../img/flagTopo.png);
  background-repeat: no-repeat;
  background-position: left;
  top: 0;
  left: 0;
}

.tituloesquerda {
  margin-top: 13px;
  left: 50px;
}

.titulocentro {
  margin-top: 13px;
  text-align: center;
}

.titulodireita {
  margin-top: 13px;
  text-align: right;
}

.user-name {
  display: block;
  text-align: right;
}

/* -----------------------------------------------------------------------------
 BREADCRUMB
 --------------------------------------------------------------------------------*/
.content-breadcrumb {
  font-weight: 700;
  padding: 15px 0px 0px 0px;
}

  .content-breadcrumb a {
    color: #034ea2;
  }

.font-steel {
  color: #5e5e5e;
  font-weight: 500;
  font-size: 10px;
}

.font-dest {
  font-weight: 600;
  font-size: 14px;
}

.breadcrumb {
  padding: 10px 0px 10px 13px;
  font-size: 10px;
  background-color: azure;
  margin-bottom: 0px;
  border-bottom: 1px solid #d6d6d6;
  border-radius: .0rem;
}

  .breadcrumb li a {
    color: #1F4F9D !important;
  }

.breadcrumb-item.active {
  color: #034ea2;
  font-weight: 700;
  font-size: 11px;
}

.breadcrumb-item + .breadcrumb-item::before {
  padding-right: .4rem;
  padding-left: .4rem;
  color: #1F4F9D;
  content: "/";
}
/* -----------------------------------------------------------------------------
 BACKGROUND INPUT ICON
 --------------------------------------------------------------------------------*/
#input_container {
  position: relative;
  padding: 0 0 0 20px;
  margin: 0 20px;
  background: #ddd;
  direction: rtl;
  width: 200px;
}

#input {
  height: 20px;
  margin: 0;
  padding-right: 30px;
  width: 100%;
}

#input_img {
  position: absolute;
  bottom: 4px;
  right: 1px;
  width: 24px;
  height: 24px;
  color: #5e5e5e;
}
/* -----------------------------------------------------------------------------
 LOADER
 --------------------------------------------------------------------------------*/
.circulo {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  box-sizing: border-box;
  border: solid 5px rgba(3, 78, 162, 0.2);
  border-top-color: #034ea2;
  animation: spin 1s infinite linear;
}

@keyframes bouncy {
  40% {
    height: 40px;
  }

  50% {
    transform: translate(0, 65px);
    height: 34px;
    border-radius: 20px;
  }

  65% {
    height: 40px;
  }
}

@keyframes push {
  50% {
    margin-left: 56px;
  }
}

@keyframes slide {
  50% {
    margin-top: 25px;
  }
}

@keyframes pulse {
  50% {
    border-width: 30px;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes cross {
  50% {
    margin-left: 60px;
  }
}
/* -----------------------------------------------------------------------------
 LINK
 --------------------------------------------------------------------------------*/
.copyLink {
  margin: 10px 0 0 0;
  float: left;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  color: #BD2828 !important;
  text-decoration: underline !important;
}

.copyText {
  margin: 5px 0 5px 0;
  float: right;
  cursor: pointer;
  font-size: 10px !important;
  font-weight: bold;
  color: #BD2828 !important;
  text-decoration: underline !important;
}

/* -----------------------------------------------------------------------------
 LIST GROUP
 --------------------------------------------------------------------------------*/
.list-group-item-rp {
  position: relative;
  display: block;
  padding: 0.20rem 0.25rem;
  margin-bottom: -1px;
}

  .list-group-item-rp a {
    color: #5e5e5e !important;
  }

    .list-group-item-rp a:hover {
      text-decoration: underline;
    }
/* -----------------------------------------------------------------------------
 BOTÕES
 --------------------------------------------------------------------------------*/
.btn {
  padding: 7px 25px 7px 25px;
  font-size: 12px;
  font-weight: 500;
}

.btn-regular {
  color: #fff;
  background-color: #034EA2;
  border-color: #034EA2;
}

  .btn-regular:hover {
    color: #fff;
    background-color: #003672;
    border-color: #034EA2;
  }

.btn-cancelar {
  color: #5e5e5e;
  background-color: #fff;
  border-color: #888;
}

  .btn-cancelar:hover {
    color: #BD2828;
    background-color: #fcc1c7;
    border-color: #BD2828;
  }

.btn-sucesso {
  color: #fff;
  background-color: #009432;
  border-color: #009432;
}

  .btn-sucesso:hover {
    color: #fff;
    background-color: #0a7f3c;
    border-color: #0a7f3c;
  }

.btn-pagin {
  color: #000;
  background-color: transparent;
  background-image: none;
  border-color: #888888;
}

  .btn-pagin:hover {
    color: #fff;
    background-color: #003672;
    border-color: #034EA2;
  }

.btn-retro {
  box-shadow: none;
}

.btn-gg {
  font-size: 20px;
}

.btn-pq {
  font-size: 10px;
  padding: 4px 15px 4px 15px;
}

.btn-retro {
  margin-top: 10px;
  color: #000;
  background-color: #fbf8f8;
  padding: 6px 7px 6px 6px;
  border-radius: 0px;
}

  .btn-retro:hover {
    color: #034ea2;
    background-color: #e8e8e8;
  }

  .btn-retro i {
    font-size: 20px;
  }

  .btn-retro .txRetro {
    margin: -10px 0px 0px 6px;
  }

.btn-outline-pesq {
  color: #ffffff;
  border-color: #034ea2;
  background-color: #034ea2;
  padding: 8px 12px;
}
/* -----------------------------------------------------------------------------
 ACCORDION
 --------------------------------------------------------------------------------*/
.card-header {
  padding: 8px;
  margin-bottom: 0;
  background-color: #034ea2;
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-radius: 0px !important;
}

  .card-header .active {
    background-color: #ff0000 !important;
  }

  .card-header .link .active {
    background-color: #ff0000 !important;
  }

  .card-header .show {
    background-color: #ff0000 !important;
  }

.bt-acord {
  font-weight: 12px;
  text-align: center;
  background: none;
  border: none;
  color: #fff;
}

/* -----------------------------------------------------------------------------
 FORMULÁRIO
 --------------------------------------------------------------------------------*/
label {
  display: inline-block;
  margin-bottom: 0.2rem;
  font-size: 13px;
}

.tx-erro {
  font-weight: 500;
  color: #ff0000;
}

.tx-valido {
  font-weight: 500;
  color: #009432;
}

.tx-observacao {
  color: #003672;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: .85em;
}

.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: calc(calc(2.25rem + 2px) - 1px * 2);
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #fff;
  content: "Escolher Arquivo";
  background-color: #034ea2;
  border-left: 1px solid #034ea2;
  border-radius: 0 .25rem .25rem 0;
}

/* -----------------------------------------------------------------------------
 TABELA
 --------------------------------------------------------------------------------*/
.tabela {
  border: 1px solid #DDD;
  font-weight: 500;
  color: #000;
  margin-top: 15px;
  width: 100%;
}

  .tabela th {
    border: 1px solid #034ea2;
    background-color: #034ea2;
    height: 40px;
    color: #fff;
    text-align: center;
  }

  .tabela td {
    border: 1px solid #DDD;
    text-align: center;
    height: 35px;
  }

.cor-icon1 {
  color: #BD2828;
}

.cor-icon2 {
  color: #003672;
}

.dataTables_length {
  float: left;
  margin: 0px auto 0 auto;
}

  .dataTables_length select {
    margin: 0 10px 0 10px;
    padding: 7.5px 10px 7px 10px;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    font-size: 1rem;
    line-height: 1.5;
    color: #5e5e5e;
    background-color: #fff;
    background-clip: padding-box;
  }

.inp-busca {
  width: 200px !important;
}

.filtab {
  justify-content: flex-end;
}

/* -----------------------------------------------------------------------------
ABA
--------------------------------------------------------------------------------*/
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-radius: 0px;
  margin-right: 2px;
  background-color: #034ea2;
  color: #fff;
}

.tab-content > .active {
  display: block;
  border: 1px solid #eeeeee;
  padding: 20px;
  margin-top: -1px;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

/* -----------------------------------------------------------------------------
TOOLTIP
--------------------------------------------------------------------------------*/
.txToll {
  margin: 20px 0px 30px 0px;
  font-size: 15px;
  font-weight: 300;
}

  .txToll a {
    text-decoration: underline;
    color: #000;
  }

/* -----------------------------------------------------------------------------
DATAPICKER
--------------------------------------------------------------------------------*/
/* jQuery UI Datepicker    */
.ui-datepicker-month,
.ui-datepicker-year {
  color: #000;
  font-weight: normal;
  height: 2.4em;
  padding: 4px;
}

.ui-datepicker-week-end, .ui-datepicker-week-end a.ui-state-default {
  color: #f00;
}

.ui-state-default, .ui-widget-content
.ui-state-default, .ui-widget-header, .ui-state-default {
  border: 0px solid;
}

.ui-widget-content {
  color: #000;
}

.ui-widget-header {
  background: #034ea2;
  padding: 8px;
  font-weight: 400;
  font-size: 14px;
}

/* -----------------------------------------------------------------------------
 TIMEPICKER
 --------------------------------------------------------------------------------*/
.ui-timepicker-minutes {
  padding-left: 8px !important;
}

.ui-timepicker-inline {
  display: inline;
}

.ui-timepicker-table {
  display: inline-table;
  width: 0;
  border: 1px solid #034ea2 !important;
}

  .ui-timepicker-table table {
    margin: 0.15em 0 0 0;
    border-collapse: collapse;
  }

.ui-timepicker-hours, .ui-timepicker-minutes {
  padding: 0.2em;
}

.ui-timepicker-table .ui-timepicker-title {
  line-height: 1.8em;
  text-align: center;
}

.ui-timepicker-table td {
  padding: 0.1em;
  width: 2.2em;
}

.ui-timepicker-table th.periods {
  padding: 0.1em;
  width: 2.2em;
}

.ui-timepicker-table td a {
  font-size: .9em;
  display: block;
  padding: 3px 9px;
  cursor: pointer;
  text-align: right;
  text-decoration: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #034ea2;
}

/* -----------------------------------------------------------------------------
 PAGINAÇÃO
 --------------------------------------------------------------------------------*/
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
}

.page-link {
  font-size: 12px;
  color: #fff;
  background-color: #0055A2;
  border: 1px solid #fff;
  margin-left: 3px;
}

.page-item.active .page-link {
  color: #6c757d;
  background-color: #fff;
  border-color: #DDD;
  font-weight: bold;
}

.page-link-poi {
  font-size: 14px;
  font-weight: 700;
  position: relative;
  display: block;
  padding: .5rem .35rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #0c0c0c;
  background-color: #fff;
  border: 1px solid #fff;
}
/*---------------------------------------------------------------------------
LEGENDA
----------------------------------------------------------------------------*/
.statuslegen {
  width: 38px;
  height: 25px;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #FFF;
  line-height: 25px;
  font-size: 15px;
  font-weight: bold;
  cursor: default;
}

  .statuslegen.lgDesativado {
    background-color: #4f4f4f;
    border-radius: 50%;
  }

  .statuslegen.lgAlerta {
    background-color: #d3a900;
    border-radius: 50%;
  }

  .statuslegen.lgSucesso {
    background-color: #0a7f3c;
    border-radius: 50%;
  }

  .statuslegen.lgRegular {
    background-color: #0099cb;
    border-radius: 50%;
  }

  .statuslegen.lgErro {
    background-color: #fc2b02;
    border-radius: 50%;
  }

.statusbt {
  z-index: 9;
}

  .statusbt .open {
    background: url('../img/menu-close.png');
    cursor: pointer;
    float: right;
    margin-bottom: 6px;
    height: 26px;
    width: 26px;
  }

    .statusbt .open.closed {
      background: url('../img/menu-open.png');
    }

  .statusbt .statusTl {
    color: #034ea2;
    display: none;
    float: right;
    font-size: 11px;
    margin-right: 5px;
    margin-top: 5px;
  }

  .statusbt .closed ~ .statusTl {
    display: block
  }

  .statusbt ul {
    float: right;
    list-style: none;
    margin-top: 5px;
  }

  .statusbt .closed ~ ul {
    display: none
  }

  .statusbt li {
    float: left;
    font-size: 10px;
    margin-right: 15px;
  }

  .statusbt .statuslegen {
    width: 16px;
    height: 16px;
    font-size: 10px;
    line-height: 16px;
    float: left;
    margin-right: 3px;
  }
/* -----------------------------------------------------------------------------
 IMAGE
 --------------------------------------------------------------------------------*/
.card-body {
  padding: 0px 10px 10px 10px;
}

.card-text {
  text-align: justify;
}
/* -----------------------------------------------------------------------------
 RODAPÉ
 --------------------------------------------------------------------------------*/
.rodape {
  border-top: 2px solid #c6c5c5;
  margin-top: 80px;
  background-color: #e2e1e1;
  height: 100%;
  padding: 0px 0px 21px 0px;
}

.rodape-basico {
  border-top: 2px solid #c6c5c5;
  margin-top: 80px;
  margin-bottom: 10px;
  background-color: #e2e1e1;
  height: 100%;
  padding: 13px 0px 21px 0px;
}

.termo {
  display: inline-flex;
  list-style: none;
  margin-top: 41px;
  margin-right: 40px;
}

ul.termo-links {
  display: inline-flex;
  float: right;
  margin-right: -38px;
  margin-top: 0px;
  line-height: 22px;
}

.termo-links-footer {
  display: inline-flex;
  list-style: none;
  margin-top: 14px;
  margin-right: 20px;
}

a.termo-links-footer {
  padding: 0 24px 0 2px;
  border-right: 1px solid;
  color: #414042;
  text-decoration: none;
  font-family: Verdana;
  font-size: 11px;
  color: #006699;
  text-decoration: underline;
}
/* -----------------------------------------------------------------------------
COPIA HTML
--------------------------------------------------------------------------------*/
.tipo {
  display: inline-block;
  font-size: 9px;
  color: #006699;
  font-weight: bold;
}

.copyLinkRight {
  margin: 5px 0 5px 0;
  float: right;
  cursor: pointer;
  font-weight: bold;
}

pre {
  width: 100%;
  display: grid;
  padding: 0 0 0 20px;
  margin: 0 0 40px 0;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #ccc;
  border-radius: 0px;
  background-color: #e6e5e5;
}
/* -----------------------------------------------------------------------------
 MODAL
 --------------------------------------------------------------------------------*/
.padrao {
  padding: 7px 0px 7px 10px;
  background-color: #034ea2;
}

  .padrao h5 {
    margin-top: 0px;
    font-size: 13PX;
    color: #fff !important;
  }

  .padrao .close {
    float: right;
    padding-right: 30px;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: 10;
  }

.sucesso {
  padding: 7px 0px 7px 10px;
  background-color: #0a7f3c;
}

  .sucesso h5 {
    margin-top: 0px;
    font-size: 13PX;
    color: #fff !important;
  }

  .sucesso .close {
    float: right;
    padding-right: 30px;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: 10;
  }

.atencao {
  padding: 7px 0px 7px 10px;
  background-color: #f39c12;
}

  .atencao h5 {
    margin-top: 0px;
    font-size: 13PX;
    color: #000 !important;
  }

  .atencao .close {
    float: right;
    padding-right: 30px;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #000;
    opacity: 10;
  }

.erro {
  padding: 7px 0px 7px 10px;
  background-color: #ed1d24;
}

  .erro h5 {
    margin-top: 0px;
    font-size: 13PX;
    color: #fff !important;
  }

  .erro .close {
    float: right;
    padding-right: 30px;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: 10;
  }

.modal-content {
  border-radius: 0px;
  border: 0px;
}

.modal-header {
  border-radius: 0px;
}
/* -----------------------------------------------------------------------------
 ALERTAS
 --------------------------------------------------------------------------------*/
.alerta {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alerta-erro {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alerta-atencao {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
/* -----------------------------------------------------------------------------
MENSAGEM
--------------------------------------------------------------------------------*/
.mens-erro {
  position: fixed;
  display: flex;
  bottom: -300px;
  left: 0;
  width: 100%;
  justify-content: space-between;
  background-color: #f8d7da;
  border: 2px #f5c6cb solid;
  font-family: sans-serif;
  transition: bottom 500ms;
  padding: 25px 20px 25px 20px;
  z-index: 9;
  text-align: center;
}

  .mens-erro:target {
    bottom: 0;
  }

  .mens-erro p,
  .mens-erro a {
    color: #FF0000;
    margin: 0;
    padding: 2em;
    text-decoration: none;
    font-size: 14px;
  }

.mens-suce {
  position: fixed;
  display: flex;
  bottom: -300px;
  left: 0;
  width: 100%;
  justify-content: space-between;
  background-color: #bdfde6;
  border: 2px #8efbd4 solid;
  font-family: sans-serif;
  transition: bottom 500ms;
  padding: 25px 20px 25px 20px;
  z-index: 9;
  text-align: center;
}

  .mens-suce:target {
    bottom: 0;
  }

  .mens-suce p,
  .mens-suce a {
    color: #016340;
    margin: 0;
    padding: 2em;
    text-decoration: none;
    font-size: 14px;
  }

.mens-alert {
  position: fixed;
  display: flex;
  bottom: -300px;
  left: 0;
  width: 100%;
  justify-content: space-between;
  background-color: #feeea5;
  border: 2px #f9c676 solid;
  font-family: sans-serif;
  transition: bottom 500ms;
  padding: 25px 20px 25px 20px;
  z-index: 9;
  text-align: center;
}

  .mens-alert:target {
    bottom: 0;
  }

  .mens-alert p,
  .mens-alert a {
    color: #000;
    margin: 0;
    padding: 2em;
    text-decoration: none;
    font-size: 14px;
  }
/* -----------------------------------------------------------------------------
 BREAKING POINT
 --------------------------------------------------------------------------------*/
/*MIN 320px*/
@media (min-width: 320px) {
  .box1 {
    width: 58%;
    height: 50px;
  }

  .box2 {
    width: 60%;
    height: 50px;
    float: left;
    font-size: 14px;
    font-weight: 600;
    padding: 11px;
  }

  .box3 {
    display: none;
  }

  .box4 {
    display: inline;
  }

  .topots {
    height: 52px;
  }

  .govsph-portal {
    margin-top: -10px;
  }

  .inpBusca {
    width: 130px !important;
  }
}
/*MIN 480px*/
@media (min-width: 480px) {
  .box1 {
    width: 50%;
    height: 70px;
  }
}

@media (max-width: 480px) {
  p.govsph-social {
    width: 60px;
    padding-right: 0px;
  }
}

@media (min-width: 600px) {
  .box1 {
    width: 55%;
  }

  .topots {
    height: 72px;
  }

  .box2 {
    width: 60%;
    height: 70px;
    font-size: 18px;
    padding: 16px;
  }

  .box3 {
    display: inline;
  }

  .box4 {
    display: none;
  }

  .container {
    max-width: 1227px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .inpBusca {
    width: auto !important;
  }
}
/*MIN 768px*/
@media (min-width: 768px) {
  .box1 {
    width: 40%;
  }

  .title {
    display: block;
    margin-left: 37px;
    font-size: 20px;
  }

  .row.content {
    height: auto;
  }

  .centro {
    margin-left: 16px;
  }

  .sidenav {
    padding-top: 24px;
    padding-right: 2px;
    padding-left: 0px;
    font-size: 15px;
    background-color: #034ea2;
  }

    .sidenav a {
      color: #000;
      border-bottom: none;
    }

      .sidenav a:hover {
        text-decoration: none;
      }

    .sidenav .active {
      color: #000;
      font-weight: bold;
    }
}
/*MAX 768px*/
@media (max-width: 768px) {
  .mens-erro {
    padding: 0px;
  }

    .mens-erro p {
      padding: 10px;
    }

  .mens-suce {
    padding: 0px;
  }

    .mens-suce p {
      padding: 10px;
    }

  .mens-alert {
    padding: 10px 0px 0px 10px;
  }

    .mens-alert p {
      padding: 10px;
    }

  .govsph-logo {
    display: none;
  }

  .page-link {
    padding: .5rem .45rem;
  }
}

/*MIN 992px*/
@media screen and (min-width: 992px) {
  .box1 {
    width: 40%;
  }

  .conteudo nav li {
    padding: 0px;
    /*width: 100%;
    font-size: 12px;*/
  }

  .conteudo .lateral nav li {
    padding: 0px;
    width: 100%;
    font-size: 13px;
  }
}

@media screen and (min-width: 1000px) {
  .box1 {
    width: 30%;
  }
}

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .row.content {
    height: auto;
  }

  .titulotopo {
    margin: 7px 0px 0px 0px;
    line-height: 15px;
    font-size: 11px;
  }

  .titulosistema {
    margin: 5px 0px 0px 0px;
  }
}
/*-----------------------------------------------------------
Alteracoes
-----------------------------------------------------------*/
#content {
  min-height: 450px
}

#sidebar {
  height: 100%;
}

#sidebarCollapseDiv {
  text-align: right;
  padding: 8px;
}

#sidebarCollapse {
  margin-top: 0px;
}

  #sidebarCollapse span {
    margin: 0px;
    display: flex;
    align-items: center;
  }

  #sidebarCollapse .txRetro {
    margin: 0px 0px 0px 6px;
    display: flex;
    align-items: center;
  }

#tabela_projetos a {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}
/*-----------------------------------------------------------
Rodapé
-----------------------------------------------------------*/
div#govsp-footerGlobal {
  margin-top: 0px;
}

ul.govsph-links {
  display: inline-flex;
  float: right;
  margin-right: 48px;
  margin-top: 43px;
  line-height: 22px;
}

  ul.govsph-links > li {
    display: block;
  }

a.govsp-links-footer {
  padding: 0 30px 0 30px;
  border-right: 1px solid;
  color: #414042;
  text-decoration: none;
  font-family: Verdana;
  font-size: 16px;
}

a.no-border {
  border: none;
}

img.govsph-logo-rodape {
  max-width: 160px;
  height: auto;
}

div#govsp-links-footer {
  display: inline-flex;
  list-style: none;
  margin-top: 41px;
  margin-right: 40px;
}

div#govsp-footer-bottom {
  border-bottom: 9px solid;
  border-bottom-right-radius: 9px;
  position: relative;
  top: 70px;
  margin-right: 10px;
}

.govsp-azul {
  color: #1F4F9D;
}

.govsp-cinza {
  color: #4D4D4F;
}

.govsp-preto {
  color: #11161D;
}

.contrast .govsp-azul {
  color: #fff;
}

.contrast .govsp-cinza {
  color: #fff;
}

.contrast .govsp-preto {
  color: #fff;
}

img.govsph-logo-rodape.logo-negativo {
  display: none;
}

.contrast img.govsph-logo-rodape {
  display: none !important;
}

  .contrast img.govsph-logo-rodape.logo-negativo {
    display: block !important;
  }

li.govsp-link-rodape {
  background: none;
  padding: 0;
}

li.govsp-link-rodape-lg {
  background: none;
  padding: 0;
  margin-top: -41px;
  margin-right: -19px;
}

@media only screen and (max-width:768px) {
  a.govsp-links-footer {
    font-size: 12px;
  }

  img.govsph-logo-rodape {
    max-width: 100px;
    height: auto;
    margin-top: 23px;
  }
}

@media only screen and (max-width:480px) {
  a.govsp-links-footer {
    font-size: 12px;
    padding: 0 10px 0 10px;
  }

  img.govsph-logo-rodape {
    max-width: 100px;
    height: auto;
    margin-top: 21px;
  }

  img.govsph-logo-rodape-lg {
    max-width: 100px;
    height: auto;
    margin-top: 21px;
  }
}

@media only screen and (min-width: 100px) and (max-width: 320px) {
  ul.govsph-links {
    display: inline-flex;
    margin-right: 0px;
    margin-top: 43px;
    line-height: 22px;
  }

  div#govsp-footerGlobal {
    float: right;
    padding: 0px 46px 0px 0px;
    margin-top: 0px;
  }

  a.govsp-links-footer {
    font-size: 10px;
    padding: 0 3px 0 3px;
  }
}
